{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<nav class="menu browse by-year text-center">

<strong>Search site:</strong>
<form method="get" action="https://www.google.com/search" target="_blank">
<input type="hidden" name="sitesearch" value="trentshell.com" />
<input type="text" name="q" maxlength="255" placeholder="Search with Google" />
</form>
<br>

   <strong>Jump to:</strong>
   {% for year in postsByYear %}
   <a href="#{{ year.name }}"><span class="visually-hidden">jump to posts from</span>{{ year.name }}</a>
   {% endfor %}
</nav>
<br>
{% for year in postsByYear %}
<h3 id="{{ year.name }}">{{ year.name }}</h3>
<ul aria-label="posts from {{ year.name }}">
   {% for post in year.items %}
   <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
   <li>
      <div class="post-header">
         <h3 class="post-title">
            <a href="{{ post.url }}">{{ post.title | escape }}</a>
         </h3>
      </div>
   </li>
   {% endfor %}
</ul>
{% endfor %}
