---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		
	<div class="post-header">
	  {% if post.link %}
	    <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a></h3>
	  {% else %}
	    <h3 class="post-title"><a href="{{ post.url }}">{{ post.title | escape }}</a></h3>
	  {% endif %}
</div>
	
	
	
  <div class="post-content e-content" itemprop="articleBody">
    {{ post.content }}
  </div>
		  	    <span class="post-meta">{{ post.date | date: date_format }} / <a href="{{ post.url }}">permalink</a></span>
      </li>
	  <hr>
	  <br>
      {%- endfor -%}
	  
    </ul>
  {%- endif -%}

</div>
