---
layout: default
---
<div>
  <p>Hello,</p>
  <p>I’m a software developer, techie, and family man living in the Midwest. Welcome to my personal site: a place to house my occasional writing, links, and projects.</p>
  <p>
  <ul>
    <li>For my work experience and CV, please take a look at my <a href="https://www.linkedin.com/in/tshell/">LinkedIn profile</a></li>
    <li>For all other inquiries or to just say “Hi”, feel free to <a href="mailto:trentonshell@gmail.com">email me</a></li>
    <li>I’m also on <a href="http://twitter.com/trentpshell">Twitter</a> and <a rel="me" href="https://mastodon.social/@trentshell">Mastodon</a></li>
  </ul>
  </p>
  <p>
    Thanks for stopping by!
  <br>
    —Trent
  </p>
</div>
