---
layout: default
---
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: site.minima.date_format }}</span>
      <div class="post-header">
        <h3 class="post-title">
          <a href="{{ post.url }}">{{ post.title | escape }}</a>
        </h3>
      </div>
      <div class="post-content e-content" itemprop="articleBody">
        {{ post.content }}
      </div>
    </li>
    <hr>
    {%- endfor -%}
  </ul>

</div>


<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
  {% else %}
    <span class="hidden">Previous</span>
  {% endif %}
  <span class="page_number ">&emsp;Page {{ paginator.page }} of {{ paginator.total_pages }}&emsp;</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next"> Next</a>
  {% else %}
    <span class="hidden "> Next</span>
  {% endif %}
</div>
